<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>koenbekkering.nl</title>
        <link rel="stylesheet" href="/css/app.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        

          <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>

            
    </head>
    <body>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper green darken-2">
            <a href="/" class="brand-logo"><i class="material-icons">assignment_ind</i>KZLF</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li class="<%= typeof page !== 'undefined' && page === 'videos' ? 'active' : '' %>"><a href="/videos">Videos</a></li>
            </ul>
          </div>
        </nav>
      </div>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="/videos">Videos</a></li>
      </ul>

      <div class="container">
