<% include ../partials/header %>

<h1>new words here</h1>
<form class="col s12" action="/lrnr/new" method="POST">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">flag</i>
      <input id="english-word" type="text" class="validate" name="english" autofocus required>
      <label for="english-word">English</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">outlined_flag</i>
      <input id="german-word" type="text" class="validate" name="german" required>
      <label for="german-word">German</label>
    </div>
  </div>
  <button>save</button>
</form>

<% include ../partials/footer %>