<% include partials/header %>


<div class="row">
  <h1>Hi there</h1>   
</div>
<div class="row">
  <div class="col s9">
    <p>
      If you've reached this page you probably got your hands on <a href="https://koenbekkering.nl/koen-bekkering-resume.pdf" target="_new">my resume</a>. Thanks for taking the time!
    </p>
    <p>
      My name is Koen and I've worked on the concept-side of software development for over 10 years. I absolutely loved coming up with ways to first <a href="https://www.koenbekkering.nl/" target="_new">entertain people through gaming</a> and later empower individuals, organizations and governments by vastly improving the way they <a href="https://www.cleverbase.com" target="_new">communicate with eachother</a>. 
    </p>
    <p>
      Moving to Cologne (I'm Dutch) in 2017 triggered some rethinking about where my carreer was going and I came to the conclusion that I want to do more execuction, less conceptualizing. What started as taking some time to understand javascript a bit better actually triggered a desire to dive into frontend development. 
    </p>  
    <p>
      This website was built using <a href="http://expressjs.com/" target="_new">Express</a>, a minimalist web framework for <a href="https://nodejs.org/en/" target="_new">Node.js</a>. I chose to implement <a href="https://material.io/" target="_new">Material Design</a> for the UI using <a href="https://materializecss.com/" target="_new">Materialize</a>, simply because I've always wanted to play around with it and hadn't yet had the chance to do so. And I'm hosting on on <a href="https://herokuapp.com" target="_new">herokuapp</a>, for now, but it will move to my own domain eventually.
    </p>
    <p>
      The source of this site can be found <a href="https://github.com/kbekkering/portfolio" target="_new">on github</a>, so you can easily see where I'm at with Javascript development. As you'll see I'm working on adding something I've dubbed LRNR, a tool that'll let me practice my German vocab on the go (check out the <a href="https://github.com/kbekkering/portfolio/tree/lrnr" target="_new">LRNR branch</a> if you're interested). After I've completed that feature I'll probably work on replacing my rather outdated <a href="https://www.flickr.com/photos/menara/albums" target="_new">Flickr account</a> with something tailor-made to my needs. Or I might try and see if I can get some of my never-built game concepts to a demo stage.
    </p>
  </div>

  <div class="col s3">
    <img src="https://www.koenbekkering.nl/koenfolio-pics/koen-mountain.jpg" alt="me, on a mountain" class="responsive-img">
  </div>
</div>

<% include partials/footer %>
