<% include ./partials/header %>
<h1>SINGLE PAGE LRNR</h1>

<button id="btn">push me</button>

<h3 id="word"></h3>

<div class="options"></div>
<div class="options"></div>
<div class="options"></div>

<span id="solution"></span>



<script src="/js/single-page-lrnr.js"></script>
<% include ./partials/footer %>

