<% include ./partials/header %>

<div class="lrnr-container">
  <div id="word"></div>

  <div class="options choose"></div>
  <div class="options choose"></div>
  <div class="options choose"></div>

</div>

<script src="/js/single-page-lrnr.js"></script>
<% include ./partials/footer %>

