<% include ./partials/header %>

<div class="lrnr-container">
  <button id="btn">push me</button>

  <div id="word">english</div>

  <div class="options correct">answer one</div>
  <div class="options correction">answer two</div>
  <div class="options wrong">wrong answer</div>

</div>

<script src="/js/single-page-lrnr.js"></script>
<% include ./partials/footer %>

