<% include partials/header %>

<h5>Travel Videos</h5>
<p>
  For the past few years I've been documenting my travels through video. What started with a GoPro and an iPad evolved into a combination of action cams, DSLR's, drone footage and Premiere Pro. 
</p>

  <div class="row">
  <% videos.forEach((video) => { %>

    <div class="col s12 m6 l4">
      <div class="card small">
        <div class="card-image">
          <img src="https://pixabay.com/get/e83cb10f2df11c22d2524518b7444795ea76e5d004b0144291f4c07daee4b4_340.jpg">
          <span class="card-title"><%= video.title %></span>
        </div>
        <div class="card-content">
          <p><%= video.description %></p>
        </div>
        <div class="card-action">
          <a href="/videos/<%=video.id%>">View</a>
        </div>
      </div>
    </div>

    <% }) %>
  </div>



<% include partials/footer %>
