<% include partials/header %>

<h5>The video's should go here</h5>
<p>
  For the past few years I've been documenting my travels through video. What started with a GoPro and an iPad evolved into a combination of action cams, DSLR's, drone footage and Premiere Pro. 
</p>

  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card small">
        <div class="card-image">
          <img src="https://pixabay.com/get/e83cb10f2df11c22d2524518b7444795ea76e5d004b0144291f4c07daee4b4_340.jpg">
          <span class="card-title">USA 2017 - pt 1</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card small">
        <div class="card-image">
          <img src="https://pixabay.com/get/e83cb10f2df11c22d2524518b7444795ea76e5d004b0144291f4c07daee4b4_340.jpg">
          <span class="card-title">USA 2017 - pt 1</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card small">
        <div class="card-image">
          <img src="https://pixabay.com/get/e83cb10f2df11c22d2524518b7444795ea76e5d004b0144291f4c07daee4b4_340.jpg">
          <span class="card-title">Shanghai Commute</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>

<% include partials/footer %>
