.nav-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

/* VIDEO index page */
.card:hover {
  transform: scale(1.02);
  transition: .2s ease-in-out;
}

a .card .card-content p {
  color: rgba(0,0,0,0.87);
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.internal-link {
  padding-top: 50px;
  visibility: hidden;
}

.toast-trigger {
  visibility: hidden;
}

.delete-form {
  display: inline;
}

/* LRNR */
#solution {
  visibility: hidden;
}

.correct {
background-color: green; 
}

.wrong {
  opacity: 0.5;
}