.nav-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

/* VIDEO index page */
.card:hover {
  transform: scale(1.02);
  transition: .2s ease-in-out;
}

a .card .card-content p {
  color: rgba(0,0,0,0.87);
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.internal-link {
  padding-top: 50px;
  visibility: hidden;
}

.toast-trigger {
  visibility: hidden;
}

.delete-form {
  display: inline;
}

/* SINGLE PAGE LRNR */
.lrnr-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 36px;
}

.lrnr-container > .options, .lrnr-container > #word {
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.lrnr-container > .options.choose {
  background-color: white;
  border: 1px solid #979797;
}
.lrnr-container > .options.choose:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: .2s ease-in-out;
}

.lrnr-container > .options.wrong {
  background-color: #D0021B;
  color: white;
  border:none;
}

.lrnr-container > .options.correct {
  background-color: #388E3C;
  color: white;
  border: none;
}

.lrnr-container > .options.correction {
  background-color: #E6E6E6;
  color: #388E3C;
  border: none;
}

.lrnr-container > .options.fade {
  opacity: 0.5;
  border: none;
}
