<% include ../partials/header %>

<h5>Add New Video</h5>
<form class="col s12" action="/videos" method="POST">
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">title</i>
      <input id="video_title" type="text" class="validate" name="title" required>
      <label for="video_title">Title</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <i class="material-icons prefix">calendar_today</i>
      <input id="video_year" type="text" class="validate" name="year" required>
      <label for="video_year">Year</label>
    </div>
    <div class="input-field col offset-s2 s4">
      <i class="material-icons prefix">calendar_today</i>
      <input id="video_number" type="text" class="validate" name="number" required>
      <label for="video_number">Number</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">text_fields</i>
      <textarea id="video_description" class="materialize-textarea validate" name="description" required></textarea>
      <label for="video_description">Description</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <i class="material-icons prefix">videocam</i>
      <input id="video_embedCode" type="text" class="validate" name="embedCode" required>
      <label for="video_embedCode">Youtube ID</label>
    </div>
  </div>
  <button class="btn green waves-effect waves-light" type="submit" name="action">Save
    <i class="material-icons right">save</i>
  </button>
</form>

<% include ../partials/footer %>